<% provide(:title, "O udruzi") %>

<section class="about-section">

<section class="title-area">
      <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
            <h1>O UDRUZI</h1>
            <h4>Udruga inženjera i diplomiranih inženjera Fakulteta elektrotehnike, računarstva i informacijskih tehnologija Osijek </h4>
        </div>
      </div>
      </div>
</section>


<section class="main-area">

<div class="container">

  <div class="row">
        
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 about-content">
    <h3>ALMAE MATRIS ALUMNI</h3>
    <p>Udruga inženjera i diplomiranih inženjera Elektrotehničkog fakulteta Osijek (AMA-ETF) osnovana je formalno na Osnivačkoj skupštini 8. svibnja 2009. godine.
    <br>Osnovna svrha Udruge 
    <ul>
      <li>očuvanje tradicije Elektrotehničkog fakulteta Osijek</li>
      <li>promicanje ugleda, skrb za razvitak i napredak fakulteta</li>
      <li>njegovanje i razvitak etike inženjerskog poziva</li>
      <li>utjecaj na stvaranje javnog znanstvenog i stručnog mišljenja i stajališta o svim bitnim pitanjima razvoja elektrotehnike i 
      računarstva kao struke i znanosti</li>
      <li>utjecaj na razvitak i napredak spoznaje o potrebi očuvanja prirode i čovjekova okoliša</li>
      <li>izgradnja i jačanje veza i suradnje između bivših studenata i fakulteta</li>
      <li>poticanje i uspostava veza i suradnje Elektrotehničkog fakulteta Osijek i sličnih obrazovnih, razvojnih i istraživačkih institucija u Republici Hrvatskoj i svijetu</li>
      <li>promicanje ugleda inženjerske struke</li>
      <li>uspostava i razvijanje suradnje sa sličnim udrugama kod nas i u svijetu</li>
    </ul>
    </p>

    <h3>ŠTO ZNAČI BITI ALUMNI?</h3>
    <p>Alumni je popularni naziv (latinskog podrijetla, znači starateljstvo, štićenik) za bivše studente nekog visokog učilišta. Alumni (lat. množina od alumnus) znači bivši pripadnik neke ustanove, najčešće sveučilišta (Alma Mater) koji ostaje u svezi s njom. Alumni su uobičajena udruženja u svijetu pa na nekim sveučilištima imaju i stoljetnu tradiciju.</p>

    <h3>PREDSJEDNIŠTVO UDRUGE</h3>
    <p>Alumni je popularni naziv (latinskog podrijetla, znači starateljstvo, štićenik) za bivše studente nekog visokog učilišta. Alumni (lat. množina od alumnus) znači bivši pripadnik neke ustanove, najčešće sveučilišta (Alma Mater) koji ostaje u svezi s njom. Alumni su uobičajena udruženja u svijetu pa na nekim sveučilištima imaju i stoljetnu tradiciju.</p>
    <%= image_tag 'members.svg', :class => 'img-responsive hvr-grow', :id => 'members' %>

    <h3>AKTIVNOSTI UDRUGE</h3>
    <p>Alumni je popularni naziv (latinskog podrijetla, znači starateljstvo, štićenik) za bivše studente nekog visokog učilišta. Alumni (lat. množina od alumnus) znači bivši pripadnik neke ustanove, najčešće sveučilišta (Alma Mater) koji ostaje u svezi s njom. Alumni su uobičajena udruženja u svijetu pa na nekim sveučilištima imaju i stoljetnu tradiciju.</p>
    <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
          <%= image_tag 'icon_development.svg', :class => 'activities hvr-grow img-responsive' %>
      </div>
      <div class="col-xs-6 col-sm-8 col-md-8 col-lg-8">
        <h5>RAZMJENA ZNANJA</h5>
        <p> Listicle pork belly microdosing, shoreditch plaid you probably haven't heard of them cardigan deep v hoodie VHS flexitarian green juice keytar ethical. Affogato quinoa lumbersexual, before they sold out vegan echo park offal gochujang fanny pack man bun. Jean shorts chicharrones iPhone pug. Echo park venmo humblebrag stumptown 8-bit migas tote bag kitsch before they sold out, iPhone YOLO beard four loko hoodie mustache. Distillery gastropub plaid gochujang, drinking vinegar VHS occupy. Fanny pack mixtape chambray wayfarers squid 8-bit. Cold-pressed tote bag food truck +1, tattooed man braid disrupt next level narwhal.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
          <%= image_tag 'icon_events.svg', :class => 'activities hvr-grow img-responsive' %>
      </div>
      <div class="col-xs-6 col-sm-8 col-md-8 col-lg-8">
        <h5>ORGANIZACIJA DOGAĐAJA</h5>
        <p> Disrupt kickstarter wolf, craft beer mlkshk offal slow-carb. Twee kombucha freegan pitchfork four dollar toast before they sold out, VHS migas umami mustache leggings tousled humblebrag brunch next level. Drinking vinegar hella franzen lo-fi, locavore ramps vinyl vice blog kickstarter. Shabby chic asymmetrical disrupt tofu, tattooed schlitz paleo pickled messenger bag fixie seitan pour-over bitters yr shoreditch. Listicle farm-to-table tofu, dreamcatcher 3 wolf moon wolf single-origin coffee stumptown letterpress. Ethical authentic ennui wayfarers, listicle franzen 8-bit. Retro tumblr PBR&B DIY, paleo banjo beard.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
          <%= image_tag 'icon_engineer.svg', :class => 'activities hvr-grow img-responsive' %>
      </div>
      <div class="col-xs-6 col-sm-8 col-md-8 col-lg-8">
        <h5>INŽENJERI IZ CIJELE HRVATSKE</h5>
        <p> Everyday carry narwhal single-origin coffee food truck 8-bit mustache, iPhone stumptown pop-up paleo. Gluten-free pug scenester gastropub actually intelligentsia. Squid 3 wolf moon lomo, lo-fi waistcoat neutra chicharrones chambray bespoke fingerstache mumblecore. Lo-fi raw denim gastropub small batch normcore, bitters godard 8-bit 90's slow-carb brunch microdosing. Blog fixie roof party, irony freegan literally +1. Ugh ethical yr, paleo crucifix man bun bitters. Chillwave fingerstache selvage hoodie truffaut.</p>
      </div>
    </div>

  </div>


    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-lg-push-1 col-md-push-1 col-sm-push-1">  
      
     <div class="row"> 
      <div class="become-member">
        <h4>UKLJUČI SE I TI!</h4>
        <p class="text-center">Waistcoat gentrify kickstarter, sapiente blue bottle gluten-free knausgaard irony sed chambray. Lo-fi food truck butcher irure venmo.</p>
            <button class="btn-member center-block hvr-grow img-responsive">
              <%= image_tag 'member_3.svg', :id => 'btn-icon-member' %>
              POSTANI ČLAN
            </button>

      </div>
    </div>

    <div class="row">
      <div class="social-networks">
        <a href="#"><%= image_tag 'facebook.svg', :class =>'social hvr-grow', :id => 'fb-icon' %></a>
        <a href="#"><%= image_tag 'twitter.svg', :class =>'social hvr-grow', :id => 'tw-icon' %></a>
        <a href="#"><%= image_tag 'instagram.svg', :class =>'social hvr-grow', :id => 'inst-icon' %></a>
      </div>
    </div>

    <div class="row">    
        <div class="subscribe">
          <h4 class="text-center">PRATI NAŠ RAD</h4>
            <p class="text-center">Waistcoat gentrify kickstarter, sapiente blue bottle gluten-free. </p>
            
            <form id="newsletter">
              <div class="form-group">
                <%= image_tag 'mail.svg', :class =>'social hvr-grow', :id => 'mail-icon' %>
                <label for="exampleInputEmail1">Email adresa</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="diplomski.rad@gmail.com">
              </div>
              <button class="btn-newsletter hvr-grow" type="submit">SUBSCRIBE</button>
            </form>
        </div>
    </div>
 
    </div>
  
  </div>

</div>

</section>
</section>
