<% provide(:title, "Statut") %>

<section class="statut">

    <section class="title-area">
      <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
            <h1>STATUT</h1>
            <h4>Udruge inženjera i diplomiranih inženjera Fakulteta elektrotehnike, računarstva i informacijskih tehnologija Osijek </h4>
        </div>
      </div>
      </div>
    </section>


<section class="main-area">

<div class="container">

  <div class="row">
        
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 statut-content">

    <p>Na temelju članka 13. Zakona o udrugama („Narodne novine“ broj 74/14), skupština Udruge inženjera i diplomiranih inženjera Elektrotehničkog fakulteta Osijek održana 07. rujna 2015. godine u Osijeku donijela je</p>

    <h5>STATUT</h5>
    <h6 id="subtitle">Udruge inženjera i diplomiranih inženjera Fakulteta elektrotehnike, računarstva i informacijskih tehnologija Osijek</h6>

      <h5>1. OSNOVNE ODREDBE</h5>
      <h6>Članak 1.</h6>
      <p>Ovim statutom uređuju se odredbe o nazivu, sjedištu i području djelovanja Udruge inženjera i diplomiranih inženjera Elektrotehničkog fakulteta Osijek Sveučilište J.J. Strossmayera u Osijeku (dalje u tekstu: Udruga), o zastupanju, izgledu pečata udruge, o ciljevima i području djelovanja sukladno ciljevima, poslovima i djelatnostima, o načinu osiguranja javnosti djelovanja udruge, o uvjetima i načinu učlanjivanja i prestanku članstva, pravima, obvezama i odgovornostima te stegovnoj odgovornosti članova i načinu vođenja popisa članova, tijelima udruge, njihovu sastavu i načinu sazivanja sjednica, izboru, opozivu, ovlastima, načinu odlučivanja i trajanju mandata te načinu sazivanja skupštine u slučaju isteka mandata, izboru i opozivu likvidatora udruge, međusobnim pravima i obvezama udruge, prestanku postojanja udruge; o imovini, načinu stjecanja i raspolaganju imovinom, o postupku s imovinom u slučaju prestanka postojanja udruge, te o načinu rješavanja sporova i sukoba interesa unutar udruge te drugim pitanjima od značaja za udrugu.</p>

      <h6>Članak 2.</h6>
      <p>Naziv je Udruge: Udruga inženjera diplomiranih inženjera Elektrotehničkog fakulteta Osijek.
      <br>Skraćeni naziv Udruge je: AMA – ETFOS.
      <br>Naziv je Udruge na latinskom jeziku: Almae Matris Alumni
      <br>Skraćeni je naziv Udruge na latinskom jeziku: AMA – ETFOS.
      <br>Sjedište Udruge je u Elektrotehničkom fakultetu u Osijeku, Kneza Trpimira 2b, 31000 Osijek.
      <br>Odluku o promjeni adrese sjedišta donosi Predsjedništvo.</p>

      <h6>Članak 3.</h6>
      <p>Udruga inženjera i diplomiranih inženjera Elektrotehničkog fakulteta Osijek registrirana je u Registru udruga Republike Hrvatske odnosno Uredu državne uprave u osječkoj-baranjskoj županiji. Udruga diplomiranih studenata Elektrotehničkog fakulteta Osijek je neprofitna pravna osoba, koja pravu osobnost stječe danom upisa u Registar udruga Republike Hrvatske.</p>

      <h6>Članak 4.</h6>
      <p>Udruga ima znak.
      <br>Znak Udruge je simbol diplomantske kape unutar šesterokuta.</p>


      <h6>Članak 5.</h6>
      <p>Udruga ima pečat.
      <br>Pečat Udruge je okrugli, promjera 25 mm, sa znakom Udruge oko kojega je napisano AMA-ETFOS.</p>

      <h6>Članak 6.</h6>
      <p>Udrugu zastupa predsjednik.</p>

      <h6>Članak 7.</h6>
      <p>Djelovanje Udruge je javno. Javnost djelovanja Udruge ostvaruje se na načine utvrđene ovim Statutom:
      <ul>
        <li>Pravodobnim obavještavanjem članova Udruge o svim odlukama i drugim važnim pitanjima iz djelovanja Udruge. Svi članovi Udruge imaju pravo sudjelovati u njezinu radu sukladno odredbama statuta i zakona, te imaju pravo uvida u rad tijela i odluke koje se donose.</li>
        <li>preko sredstava javnog priopćavanja.</li>
      </ul>
      </p>


      <h5>2. ČLANSTVO U UDRUZI I ČLANARINA</h5>
      <h6>Članak 8.</h6>
       <p>Članstvo može biti:
       <ul> 
          <li>Redovito</li>
          <li>Podupiruće</li>
          <li>Počasno</li>
        </ul>
        </p>

                
      <h6>Članak 9.</h6>
      <p>Članom Udruge može postati svaki punoljetan i poslovno sposoban državljanin Republike Hrvatske i strani državljanin koji prihvati Statut Udruge i koji je diplomirao, magistrirao, doktorirao ili radi na Elektrotehničkom fakultetu Osijek.
      <br>Članom udruge postaje se popunjavanjem pristupnice i upisom u Registar članova.</p>

      <h6>Članak 10.</h6>
      <p>Udruga vodi popis svojih članova. Za vođenje popisa članova zadužen je Tajnik udruge. Popis članova vodi se elektronički i obavezno sadrži podatke o osobnom imenu (nazivu) člana, OIB-u, datumu rođenja, datumu pristupanja udruzi, kategoriji članstva i da datumu prestanka članstva u udruzi.  Popis članova uvijek je dostupan na uvid svim članovima i nadležnim tijelima na njihov zahtjev.</p>


      <h6>Članak 11.</h6>
      <p>Redoviti član ima pravo birati i biti biran u tijela Udruge. Redoviti član plaća članarinu.</p>

                
      <h6>Članak 12.</h6>
      <p>Podupirućim članom smatra se pravna ili fizička osoba koja svojom aktivnošću te novčanom i/ili materijalnom potporom doprinosi ostvarivanju programskih zadaća udruge. Podupirući član ima prava i obveze redovnog člana, osim prava da bira i da bude biran u tijela Udruge, a nema obavezu plaćanja članarine.</p>

      <h6>Članak 13.</h6>
      <p>Počasnim članom može postati svaka osoba koja ima izuzetne zasluge u ostvarivanju temeljnih ciljeva udruge. Počasnim članom postaje se temeljem odluke Predsjedništva. Počasni član ima prava i obveze redovnog člana, osim prava da bira i bude biran u tijela Udruge, i nema obavezu plaćanja članarine.</p>

                
      <h6>Članak 14.</h6>
      <p>Prava i obveze redovitih članova jesu:
      <ul>
       <li>Birati i biti biran u tijela Udruge</li>
       <li>Sudjelovanje u djelatnostima Udruge</li>
       <li>Čuvanje i podizanje ugleda Udruge</li>
       <li>Čuvanje materijalnih dobara i izvršavanje preuzetih obveza</li>
       <li>Sudjelovanje u upravljanju poslovima Udruge</li>
       <li>Ostvarivanje ciljeva i zadataka Udruge</li>
       <li>Pridržavanje odredba Statuta</li>
       <li>Plaćanje članarine</li>
      </ul>
      </p>

      <h6>Članak 15.</h6>
      <p>Svaki član Udruge dužan je plaćati članarinu o čijoj visini odluku donosi Predsjedništvo.</p>

                
      <h6>Članak 16.</h6>
      <p>Svaki član Udruge podliježe stegovnoj odgovornosti.
      Za teže povrede Statuta protivno cilju i zadaći Udruge, na prijedlog Nadzornog odbora ili najmanje tri člana Predsjedništva, predsjedništvo može članu izreći:
      <ul>
        <li>Suspenziju zbog neovlaštenog istupanja u ime Udruge.</li>
        <li>Isključenje iz Udruge zbog težih povreda Statuta.</li>
      </ul>
      </p>

      <h6>Članak 17.</h6>
      <p>Članstvo u udruzi prestaje:
      <ul>
        <li>Dragovoljnim istupom</li>
        <li>Isključenjem radi nepoštivanja odredbi statuta</li>
      </ul></p>
      <p>O isključenju koje može uslijediti samo iz značajnih razloga, posebice zbog učestalog kršenja odredba ovog Statuta, odlučuje Predsjedništvo. Svakom članu do odluke o isključenju mora biti omogućen primjereni vremenski rok za očitovanje ili opravdanje u trajanju od najmanje mjesec dana do najduže tri mjeseca. Odluka o isključenju mora biti uručena članu putem pošte preporučenim pismom. Isključeni član ima pravo prigovora Skupštini čija je odluka o isključenju konačna. Rok za prigovor Skupštini je mjesec dana od dana kad je Predsjedništvo donijelo odluku o isključenju. Skupština je dužna riješiti žalbu u roku od 30 dana, računajući od dana dostave žalbe.
      </p>

                
      <h6>Članak 18.</h6>
      <p>Udruga se može udružiti u savez udruga, zajednice, mreže i u međunarodne udruge.
      <br>Odluku o udruživanju donosi Skupština.
      <br>Udruga može prema potrebi osnovati i ustrojiti ogranke diljem Republike Hrvatske.
      <br>Odluku o osnivanju i ustroju ogranka Udruge donosi Predsjedništvo Udruge.
      <br>Odluku o prestanku djelovanja ogranka Udruge donosi Predsjedništvo Udruge.
      <br>Ogranci Udruge nemaju svojstvo pravne osobe.</p>

      <h5>3. CILJEVI I DJELATNOST UDRUGE</h5>
      <h6>Članak 19.</h6>
      <p>Udruga sukladno ciljevima djeluje na području obrazovanja, znanosti i istraživanja.
      <br>Ciljevi Udruge:
      <ul>
        <li>očuvanje tradicije Elektrotehničkog fakulteta Osijek</li>
        <li>promicanje ugleda Elektrotehničkog fakulteta Osijek u nas i u svijetu</li>
        <li>njegovanje i razvitak etike inženjerskog poziva</li>
        <li>promicanje ugleda inženjerske struke.</li>
      </ul>
      </p>
                

      <h6>Članak 20.</h6>
      <p>Djelatnosti udruge su sljedeće:
      <ul>
        <li>samostalno djelovanje u ostvarivanju postavljenih ciljeva uz učinkovitu suradnju s obrazovnim, kulturnim i znanstvenim institucijama, komorama, trgovačkim društvima te drugim tijelima i organizacijama koje se bave elektrotehničkom računarskom djelatnošću</li>
        <li>prikupljanje mišljenja članova Udruge u javnim raspravama o bitnim pitanjima u svezi s ciljevima Udruge</li>
        <li>izdavanje znanstvenih, stručnih i informativnih publikacija vezano uz djelatnost udruge, a sukladno važećim propisima</li>
        <li>skrb za razvitak i napredak Elektrotehničkog fakulteta Osijek</li>
        <li>pružanje informacija nastavnom osoblju Fakulteta na temelju individualnih iskustava iz inženjerske prakse</li>
        <li>prikupljanje informacija o organizaciji i djelovanju Fakulteta</li>
        <li>organiziranje susreta članova Udruge</li>
        <li>razmjenjivanje strukovnih iskustava među članovima Udruge</li>
        <li>izgradnja i jačanje veza i suradnje između bivših studenata i Elektrotehničkog fakulteta Osijek</li>
        <li>redovito i prigodno informiranje članstva o djelatnostima Udruge, dostignućima njezinih članova i o zbivanjima u struci</li>
        <li>utjecaj na stvaranje javnog znanstvenog i stručnog mišljenja i stajališta o svim bitnim pitanjima razvoja elektrotehnike i računarstva kao struke i znanosti te njihove primjene</li>
        <li>utjecaj na razvitak i napredak spoznaje o potrebi očuvanja prirode i čovjekova okoliša</li>
        <li>poticanje razumijevanja i usvajanja profesionalnih etičkih vrijednosti ukupnom aktivnošću Udruge</li>
        <li>pružanje iskustvenih informacija potencijalnim studentima u svezi sa studijem na Elektrotehničkom fakultetu Osijek</li>
        <li>uspostavljanje suradnje s odgovarajućim visokoobrazovnim institucijama</li>
        <li>izmjenjivanje radnih iskustava s odgovarajućim udrugama bivših studenata</li>
        <li>poticanje i uspostava veza i suradnje Elektrotehničkog fakulteta Osijek i sličnih obrazovnih, razvojnih i istraživačkih institucija u Republici Hrvatskoj i u svijetu</li>
        <li>uspostava i razvijanje suradnje sa sličnim udrugama (AMAC/AMCA) u nas i u svijetu</li>
        <li>organiziranje stručnih, športskih i ostalih susreta s drugim udruženjima i obilježavanje značajnih obljetnica.</li>
      </ul>
      </p>

      <h5>4. RJEŠAVANJE SPOROVA I SUKOBA INTERESA</h5>
      <h6>Članak 21.</h6>
      <p>Spor/sukob interesa u udruzi postoji kada član smatra da su mu povrijeđena prava određena statutom, kada se radi o sporu/sukobu interesa između članova udruge a koji utječe na rad udruge, kada član udruge smatra da je udruga povrijedila statut, odnosno spor/sukob interesa oko pitanja o kojima se podnosi zahtjev za upis promjena u Registar udruga
      Za rješavanje sporova i sukoba interesa unutar Udruge nadležno je Predsjedništvo.
      Nezadovoljna strana ima pravo žalbe Skupštini u roku od 15 dana od dana odluke Predsjedništva. Skupština je dužna donijeti odluku o žalbi u roku od 8 dana. Odluka Skupštine je konačna.</p>
       
      <h5>5. TIJELA UPRAVLJANJA UDRUGOM</h5>
      <h6>Članak 22.</h6>
      <p>Tijela upravljanja Udrugom jesu:
      <ul>
        <li>Skupština</li>
        <li>Predsjednik, zamjenik predsjednika i tajnik Udruge</li>
        <li>Predsjedništvo</li>
        <li>Nadzorni odbor</li>
      </ul></p>
      <p>Svi članovi tijela upravljanja Udrugom odgovaraju za svoj rad Skupštini Udruge.</p>

      <h5>5.1. SKUPŠTINA</h5>
      <h6>Članak 23.</h6>
      <p>Skupština je najviše tijelo upravljanja Udrugom.
      <br>Skupštinu sačinjavaju svi članovi Udruge, a pravno glasa imaju samo redovni članovi.</p>

      <h6>Članak 24.</h6>
      <p>Skupština može biti redovita, izborna i izvanredna. Skupština redovno zasjeda jednom u tijeku godine, dok se  izborna sjednica <br>Skupštine održava se svake četiri godine. Izvanredna skupština saziva se po potrebi.
      <br>Sjednice Skupštine saziva predsjednik udruge na vlastitu inicijativu.
      <br>U odluci o sazivanju Skupštine Predsjedništvo utvrđuje dnevni red sjednice te dan i mjesto održavanja sjednice.
      <br>Predsjednik je dužan sazvati sjednicu Skupštine kada to zatraži najmanje 1/3 članova udruge ili Nadzorni odbor Udruge. U svom zahtjevu za sazivanje Skupštine predlagatelji su obvezni predložiti dnevni red sjednice.
      <br>Predsjednik saziva sjednicu prema predloženom dnevnom redu predlagatelja a ako je ne sazove u roku od 15 dana od dana dostave zahtjeva iz stavka 5. ovog članka, sazvat će je predlagatelj (odluka treba sadržavati prijedlog dnevnog reda te mjesto i dan održavanja sjednice).
      <br>U slučaju isteka mandata tijela ovlaštenih za sazivanje sjednice skupštine, istu mogu sazvati osobe koje su zadnje upisane u Registar udruga RH kao osobe ovlaštene za zastupanje.</p>

      <h6>Članak 25.</h6>
      <p>Sjednici skupštine predsjedava i potpisuje njezine odluke predsjednik Udruge, a u njegovoj odsutnosti zamjenik predsjednika. U slučaju njihove odsutnosti odluke potpisuje osoba koju odredi Skupština javnim glasovanjem. O radu sjednice vodi se zapisnik koji se trajno čuva u arhivi Udruge.</p>

      <h6>Članak 26.</h6>
      <p>Skupština odlučuje pravovaljano ako je nazočna natpolovična većina svih redovnih članova Skupštine, a odluke donosi većinom glasova nazočnih redovnih članova.</p>
              
      <h6>Članak 27.</h6>
      <p>Skupština Udruge:
      <ul>
        <li>Usvaja statut udruge i njegove izmjene i dopune</li>
        <li>Razmatra i usvaja financijski plan za sljedeću kalendarsku godinu i izvješće o radu za prethodnu kalendarsku godinu</li>
        <li>Usvaja godišnje financijsko izvješće</li>
        <li>Donosi Pravilnik o svom radu</li>
        <li>Donosi Program rada</li>
        <li>Donosi druge akte i odluke važne za rad Udruge</li>
        <li>Bira i razrješuje dužnosti članove Predsjedništva i Nadzornog odbora</li>
        <li>Bira i razrješuje dužnosti Predsjednika i zamjenika predsjednika Udruge</li>
        <li>Razmatra i usvaja izvješća o radu Udruge</li>
        <li>Daje smjernice za rad Udruge</li>
        <li>Odlučuje o udruživanju u savez, zajednice, mreže i druge oblike povezivanja udruga</li>
        <li>Utvrđuje visinu članarine</li>
        <li>Odlučuje o prestanku rada Udruge</li>
        <li>Bira i opoziva likvidatora udruge</li>
        <li>Odlučuje o žalbama članova na odluke o isključenju iz Udruge</li>
        <li>Odlučuje u sporovima</li>
        <li>Donosi odluku o osnivanju ustrojstvenih oblika</li>
        <li>Obavlja i druge poslove određene zakonom ili Statutom</li>
      </ul></p>
      <p>Skupština može razriješiti tijela koja bira u cijelosti ili pojedine njihove članove i prije isteka mandata na koji su izabrani ako ne izvršavaju povjerene zadaće. Ukoliko razrješava rečena tijela u cijelosti, Skupština tada bira novo tijelo s punim mandatom, a ukoliko razrješava pojedine članove tijela, Skupština bira nove članove na vrijeme do isteka mandata tijela u čiji su sustav izabrani.</p>

      <h5>5.2.PREDSJEDNIK UDRUGE</h5>
      <h6>Članak 28.</h6>
      <p>Predsjednika bira i razrješuje Skupština. Mandat predsjedniku Udruge traje četiri (4) godine. Predsjednik Udruge je po funkciji ujedno član i predsjednik Predsjedništva.
      Predsjednik:
      <ul>
        <li>Predstavlja i zastupa Udrugu</li>
        <li>Odgovara za zakonitost rada udruge</li>
        <li>Vodi poslove udruge sukladno odlukama skupštine</li>
        <li>Saziva skupštinu udruge i rukovodi radom iste</li>
        <li>Dostavlja zapisnik s redovne sjednice skupštine nadležnom uredu koji vodi registar udruga</li>
        <li>Pokreće raspravu o određenim pitanjima iz djelokruga Skupštine i Predsjedništva udruge</li>
        <li>Brine se o upoznavanju javnosti s radom skupštine i njezinih tijela</li>
        <li>Rukovodi radom Skupštine i predsjedništva te obavlja i druge poslove utvrđene ovim Statutom, poslovnikom i drugim općim aktima Udruge</li>
        <li>Drugo predviđeno zakonom</li>
      </ul></p>
      <p>Predsjednik udruge podnosi godišnje izvješće o svom radu predsjedništvu i Skupštini Udruge.</p>

      <h5>5.3. ZAMJENIK PREDSJEDNIKA</h5>
      <h6>Članak 29.</h6>
      <p>U slučaju odsutnosti ili spriječenosti, Predsjednika u svim poslovima zamjenjuje zamjenik predsjednika, osim ovlasti za zastupanje.
      <br>Zamjenika predsjednika Udruge bira i razrješuje Skupština. Mandat zamjeniku predsjednika Udruge traje četiri (4) godine. Zamjenik predsjednika je po funkciji ujedno i član Predsjedništva.</p>

      <h5>5.4. PREDSJEDNIŠTVO</h5>
      <h6>Članak 30.</h6>
      <p>Izvršne funkcije i druge poslove utvrđene ovim Statutom obavlja Predsjedništvo Udruge.
      <br>Predsjedništvo bira i razrješuje Skupština na prijedlog članova a na mandat od četiri godine.</p>

      <h6>Članak 31.</h6>
      <p>Predsjedništvo ima 7 članova. Predsjednik i zamjenik predsjednika udruge članovi su Predsjedništva po svojoj funkciji.
      <br>Dekan Elektrotehničkog fakulteta Osijek član je Predsjedništva po položaju.
      <br>Predsjedništvo je izvršno i operativno kolegijalno tijelo. Predsjednik Udruge saziva sjednice predsjedništva i rukovodi radom predsjedništva, a ako on nije nazočan zamjenjuje ga zamjenik predsjednika.</p>


      <h6>Članak 32.</h6>
      <p>Predsjedništvo:
      <ul>
        <li>Bira i imenuje tajnika Udruge.</li>
        <li>Donosi poslovnik o svom radu</li>
        <li>Utvrđuje prijedlog programa rada, Statuta i drugih općih akta koji se podnose  Skupštini na razmatranje i prihvaćanje</li>
        <li>Utvrđuje prijedloge programa djelatnosti i planove rada</li>
        <li>Brine se o izvršenju usvojenog programa rada i provedbi odluka Skupštine udruge</li>
        <li>Upravlja imovinom Udruge sukladno usvojenom financijskom planu</li>
        <li>Podnosi izvješća o radu Skupštini Udruge</li>
        <li>Imenuje povjerenstva i slična tijela prema potrebi te im određuje zadatke</li>
        <li>Obavlja i drug poslove predviđene Statutom i drugim općim aktima Udruge.</li>
      </ul>
      </p>

      <h6>Članak 33.</h6>
      <p>Odluke Predsjedništva donose se većinom glasova nazočnih članova Predsjedništva. Odluke su valjanje ako je na sjednici Predsjedništva nazočan natpolovični broj svih članova Predsjedništva.
      <br>Sjednice Predsjedništva održavaju se prema potrebi o čemu odlučuje Predsjednik Udruge, a u njegovoj odsutnosti zamjenik predsjednika.</p>

      <h6>Članak 34.</h6>
      <p>Predsjedništvo je za svoj rad odgovorno skupštini.
      <br>Predsjedništvo podnosi Skupštini godišnje izvješće o svom radu.
      <br>Mandat članova predsjedništva traje četiri (4) godine.</p>

      <h5>5.5. NADZORNI ODBOR</h5>
      <h6>Članak 35.</h6>
      <p>Nadzorni odbor Udruge prati i nadzire rad tijela utvrđenih ovim Statutom. O svom nalazu i mišljenju izvješćuje Skupštinu Udruge i tijelo čiji je red bio podvrgnut nadzoru. nadzorni odbor utvrđuje je li djelatnost Udruge u skladu sa Statutom i aktima Udruge te nadzire provođenje općih akata i odluka tijela Udruge vodeći računa o odgovornom i gospodarski svrhovitom raspolaganju sredstvima.
      <br>Nadzorni odbor posebno nadzire materijalno i financijsko poslovanje Udruge.</p>

      <h6>Članak 36.</h6>
      <p>Nadzorni odbor bira i razrješuje Skupština na prijedlog članova.
      <br>Nadzorni odbor ima tri člana.
      <br>Mandat članova nadzornog odbora traje četiri (4) godine, odnosno do sljedeće izborne Skupštine. Sjednice Nadzornog odbora održavaju se prema potrebi. Nadzorni odbor donosi odluke većinom glasova članstva nadzornog odbora.</p>

      <h5>5.6. TAJNIK UDRUGE</h5>
      <h6>Članak 37.</h6>
      <p>Tajnika Udruge bira Predsjedništvo iz redova članova Udruge na mandat od četiri godine. Tajnik obavlja stručne i administrativne poslove Udruge. Tajnik vodi Registar članova na način propisan statutom i zakonom.</p>

      <h5> 6. IMOVINA UDRUGE, NAČIN STJECANJA I RASPOLAGANJA IMOVINOM</h5>
      <h6>Članak 38.</h6>
      <p>Imovinu Udruge čine novčana sredstva koja je udruga stekla uplatom članarina, dobrovoljnim prilozima i darovima, novčana sredstva koja udruga stekne obavljanjem djelatnosti kojima se ostvaruju ciljevi, financiranjem programa i projekata udruge iz državnog proračuna i proračuna jedinica lokalne i područne samouprave te fondova i/ili inozemnih izvora, kao i druga novčana sredstva stečena u skladu sa zakonom. Imovinu udruge čine i njezine nepokretne i pokretne stvari. Udruga može raspolagati svojom imovinom samo za ostvarivanje ciljeva i obavljanje djelatnosti određenih statutom udruge, u skladu sa zakonom.</p>

      <h6>Članak 39.</h6>
      <p>Predsjedništvo određuje iznos članarine za svaku tekuću godinu.
      <br>Uplaćena članarina za tekuću godinu ne može biti vraćena.
      <br>Izvješće o materijalnom i financijskom poslovanju nadzorni odbor podnosi Skupštini na razmatranje i prihvaćanje</p>

      <h5>7. IZBOR I OPOZIV LIKVIDATORA UDRUGE</h5>
      <h6>Članak 40.</h6>
      <p>Likvidatora udruge bira i opoziva Skupština. Likvidator zastupa udrugu u postupku likvidacije te se otvaranjem likvidacijskog postupka upisuje u registar udruga kao osoba ovlaštena za zastupanje udruge do okončanja postupka likvidacije i brisanja udruge iz registra udruga. Likvidator je dužan ispunjavati sve zakonske obveze i poštivati rokove koji su propisani zakonom u slučaju prestanka djelovanja udruge.</p>

      <h5>8. PRESTANAK POSTOJANJA UDRUGE I POSTUPANJE IMOVINOM</h5>
      <h6>Članak 41.</h6>
      <p>Udruga prestaje postojati odlukom Skupštine ili u drugim slučajevima predviđenim zakonom.
      U slučaju prestanka postojanja temeljem odluke Skupštine, ista donosi odluku o prestanku postojanja Udruge dvotrećinskom (2/3) većinom glasova od ukupnog broja članova Skupštine Udruge. U slučaju prestanka postojanja Udruge, imovina se, nakon namirenja vjerovnika i troškova likvidacijskog, sudskog i drugih postupaka predaje udruzi, ustanovi ili zakladi koje imaju iste ili slične statutarne ciljeve, a na osnovi odluke skupštine sukladno statutu.
      Udruga nema pravo imovinu dijeliti svojim osnivačima, članovima udruge, osobama ovlaštenim za zastupanje, zaposlenima ili s njima povezanim osobama.</p>

      <h5>9. PRIEJLAZNE I ZAVRŠNE ODREDBE</h5>
      <h6>Članak 42.</h6>
      <p>Statut Udruge te njegove izmjene i dopune donosi Skupština većinom glasova ukupnog broja članova Skupštine Udruge nakon provedene rasprave.</p>

      <h6>Članak 43.</h6>
      <p>Za tumačenje odredaba ovog Statuta ovlaštena je Skupština Udruge.
      <br>Za tumačenje odredaba drugih akata ovlašteno je predsjedništvo Udruge.</p>

      <h6>Članak 44.</h6>
      <p>Ovaj Statut stupa na snagu trenutkom usvajanja, a primjenjuje se od dana ovjere nadležnog ureda.</p>
      <br><br><br>
      <p>U Osijeku, 2015. godine.</p>
      <div id="signature">
        <br><br><p><b>PREDSJEDNIK UDRUGE</b></p>
        <p><b>Sandra Vdovnjak</b></p>
      </div>

    <!-- STATUT TEKST  43 Članka-->

  </div>

  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-lg-push-1 col-md-push-1 col-sm-push-1">  
      
     <div class="row"> 
      <div class="become-member">
        <h4>UKLJUČI SE I TI!</h4>
        <p class="text-center">Waistcoat gentrify kickstarter, sapiente blue bottle gluten-free knausgaard irony sed chambray. Lo-fi food truck butcher irure venmo.</p>
            <button class="btn-member center-block hvr-grow">
              <%= image_tag 'member_3.svg', :id => 'btn-icon-member' %>
              POSTANI ČLAN
            </button>

      </div>
    </div>

    <div class="row">
      <div class="social-networks">
        <a href="#"><%= image_tag 'facebook.svg', :class =>'social hvr-grow', :id => 'fb-icon' %></a>
        <a href="#"><%= image_tag 'twitter.svg', :class =>'social hvr-grow', :id => 'tw-icon' %></a>
        <a href="#"><%= image_tag 'instagram.svg', :class =>'social hvr-grow', :id => 'inst-icon' %></a>
      </div>
    </div>

    <div class="row">    
        <div class="subscribe">
          <h4 class="text-center">PRATI NAŠ RAD</h4>
            <p class="text-center">Waistcoat gentrify kickstarter, sapiente blue bottle gluten-free. </p>
            
            <form id="newsletter">
              <div class="form-group">
                <%= image_tag 'mail.svg', :class =>'social hvr-grow', :id => 'mail-icon' %>
                <label for="exampleInputEmail1">Email adresa</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="diplomski.rad@gmail.com">
              </div>
              <button class="btn-newsletter hvr-grow" type="submit">SUBSCRIBE</button>
            </form>
        </div>
    </div>
 
    </div>
  
  </div>

</div>

    </section>
</section>