<div class="row">
<ol class="breadcrumb">
  <li> <%= link_to "Sve objave", {:action => 'index' } %></li>
  <li class="active">Pregled <%= @post.title %></li>
</ol>
</div>

<h1><%= @post.title %></h1>

<div class="col-md-9 col-md-offset-1">

<%= image_tag @post.image.url(:medium), :class => 'post-img' %>

<p class="post-txt"><%= @post.content %></p>

<p>Kreirano: <%= @post.created_at %></p>
<p>Zadnje izmjene: <%= @post.updated_at %> </p>

<%= link_to "Uredi vijest", {:action => 'edit', :id => @post.id }, :class => 'btn btn-primary' %>

</div>