<% unless (current_page?(register_path) || current_page?(login_path) || current_page?(new_user_session_path) || current_page?(user_session_path)) %>
<section class="footer">
<!--
<%= form_for @contact do |f| %>

  <div class="form-group">
    <%= f.label :name %><br/>
    <%= f.text_field :name, autofocus: true, required: :true, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :email %><br/>
    <%= f.email_field :email, autofocus: true, required: :true, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :message %><br/>
    <%= f.text_area :message, autofocus: true, required: :true, rows: 20, as: :text, :class => 'form-control' %>
  </div>

  <div class="hidden">
    <%= f.label :nickname %><br/>
    <%= f.text_field :nickname, hint: 'Nemojte ispunjavati ovo polje' %>
  </div>


  <%= f.submit "Pošalji poruku", :class => 'btn btn-primary' %>

<% end %>
-->
     <div class="container">         

        <div class="row">
          <div class="col-xs-10 col-sm-5 col-md-5 col-lg-5 col-xs-push-1">   
            <%= image_tag 'contact.svg', :class => 'hvr-grow', :id => 'contact' %>
            <h4>KONTAKT</h4>
            <%= form_for @contact, :html => {:id => "contact-form"} do |f| %> 
              <div class="form-group">       
                <label for=<%= :name %>>IME I PREZIME</label>
                <%= f.text_field :name, autofocus: true, required: :true, :class => 'form-control' %>           
              </div>

              <div class="form-group">       
                <label for=<%= :email %>>EMAIL</label>
                 <%= f.email_field :email, autofocus: true, required: :true, :class => 'form-control' %>
              </div>

              <div class="form-group">       
                <label for=<%= :message %>>PORUKA</label>
                <%= f.text_area :message, autofocus: true, required: :true, rows: 4, as: :text, :class => 'form-control' %>
              </div>

              <div class="hidden">
                <%= f.label :nickname %><br/>
                <%= f.text_field :nickname, hint: 'Nemojte ispunjavati ovo polje' %>
              </div>
              <%= f.submit "POŠALJI", :class => 'btn-contact' %>
            <% end %>
          </div>

          <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-sm-push-2 col-md-push-2 col-lg-push-2" id="pages">   
            

            <div class="row">
                <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 col-sm-pull-1 col-md-pull-1 col-lg-pull-1">
                   <%= image_tag 'pages.svg', :class => 'hvr-grow'%>
                </div>
                <div class="col-xs-6 col-sm-9 col-md-9 col-lg-9 col-sm-pull-2 col-md-pull-2 col-lg-pull-2">
                  <h5 id="pages-headline">STRANICE</h5>
                    <%= link_to "Početna", root_path %>
                    <%= link_to "O udruzi", about_path %>
                    <%= link_to "Statut", statut_path %>
                    <%= link_to "Vijesti", news_path %>
                    <%= link_to "Kontakt", contact_path %>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 col-sm-pull-1 col-md-pull-1 col-lg-pull-1">
                  <%= image_tag 'location.svg', :class => 'hvr-grow', :id => 'location' %>
                </div>
                <div class="col-xs-6 col-sm-9 col-md-9 col-lg-9 col-sm-pull-2 col-md-pull-2 col-lg-pull-2">
                    <p>Udruga inženjera i diplomiranih inženjera <br>Fakulteta elektrotehinike, računarstva i informacijskih tehnologija
                    <br><br>Kneza Trpimira 2b<br>31000 Osijek<br>Hrvatska</p>
                </div>
            </div>

          </div>

          <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-sm-push-3 col-md-push-3 col-lg-push-3">   
              
              <div class="row">
                  <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2 col-sm-pull-1 col-md-pull-1 col-lg-pull-1">
                    <%= image_tag 'social.svg', :class => 'hvr-grow', :id => 'social-img' %>
                  </div>
                  <div class="col-xs-6 col-sm-9 col-md-9 col-lg-9 col-sm-pull-1 col-md-pull-1 col-lg-pull-1">
                    <h5 id="social-headline">SOCIAL</h5>
                  </div>
              </div>


              <div class="row">
                  <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 col-sm-pull-1 col-md-pull-1 col-lg-pull-1">
                    <%= image_tag 'facebook.svg', :class => 'social-footer' %>
                  </div>
                  <div class="col-xs-6 col-sm-9 col-md-9 col-lg-9 col-sm-pull-1 col-md-pull-1 col-lg-pull-1">
                     <a href="https://www.facebook.com/ama.etfos/" class="social-link">Facebook</a>
                  </div>
              </div>

              <div class="row">
                <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 col-sm-pull-1 col-md-pull-1 col-lg-pull-1">
                  <%= image_tag 'twitter.svg', :class => 'social-footer' %>
                </div>
                 <div class="col-xs-6 col-sm-9 col-md-9 col-lg-9 col-sm-pull-1 col-md-pull-1 col-lg-pull-1">
                  <a href="#" class="social-link">Twitter</a>
                </div>
              </div>


              <div class="row">
                <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 col-sm-pull-1 col-md-pull-1 col-lg-pull-1">
                  <%= image_tag 'instagram.svg', :class => 'social-footer' %>
                </div>
                 <div class="col-xs-6 col-sm-9 col-md-9 col-lg-9 col-sm-pull-1 col-md-pull-1 col-lg-pull-1">
                  <a href="#" class="social-link">Instagram</a>
                </div>
              </div>
              
              <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-sm-pull-1 col-sm-pull-4 col-md-pull-4 col-lg-pull-4 col-sm-pull-4">
                  <%= image_tag 'logos.svg', :class => 'img-responsive', :id => 'footer-logos' %>
                </div>
              </div>

          </div>

         
          </div>
        </div>
    </div>
  </section>

  <section class="copyright">

     <div class="container">         
        <div class="row">
            <p class="text-center">Copyright AMA ETFOS 2016</p>    
        </div>
    </div>
  
  </section>

  <% end %>