<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
        <%= link_to "ETFOS Alumni", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "O udruzi",   o_udruzi_path %></li>
        <li><%= link_to "Statut",   statut_path %></li>
        <li><%= link_to "Kontakt", kontakt_path %></li>
        <li><%= link_to "Registracija",   '#' %></li>
        <li><%= link_to "Prijava", '#' %></li>
      </ul>
    </nav>
  </div>
</header>