<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
        <%= link_to "ETFOS Alumni", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li class=<%= 'active' if current_page?(root_path) %>>
          <%= link_to "PoÄetna",   root_path %>
        </li>
        <li class=<%= 'active' if current_page?(about_path) %>>
          <%= link_to "O udruzi",   about_path %></li>
        <li class=<%= 'active' if current_page?(statut_path) %>>
          <%= link_to "Statut",   statut_path %></li>
        <li class=<%= 'active' if current_page?(contact_path) %>>
          <%= link_to "Kontakt", contact_path %></li>
        
        <% if user_signed_in? %>
          <li class=<%= 'active' if current_page?(show_profile_path) || current_page?(edit_path)  %>>
            <%= link_to "Profil", show_profile_path %>
          </li>
          <li><%= link_to "Odjava", logout_path %></li>
        <% else %>
          <li class=<%= 'active' if current_page?(register_path) %>>
            <%= link_to "Registracija",   register_path %>
          </li>
          <li class=<%= 'active' if current_page?(login_path) %>>
            <%= link_to "Prijava", login_path %>
          </li>
        <% end %> 
      
      </ul>
    </nav>
  </div>
</header>