<!-- ADD SOME SIDE BAR NAVIGATION -->

<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="admin-body">
  <% if admin_signed_in? %>
    <div class="container-fluid">
    <%= render 'layouts/admin_header' %>
    <div class="col-sm-8 col-lg-9">
  <% else %>
    <h2>Admin Pages</h2>
    <div class="col-md-6 col-md-offset-3">
  <% end %>
      
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <%= value %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </div>
</body>
</html>
