<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>


</head>
    <% unless (current_page?(user_session_path) || current_page?(register_path) || current_page?(login_path) || current_page?(new_user_session_path)) %>
      <body>
      <%= render 'layouts/header' %>
    <% end %>

    <!--
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <%= value %>
        </div>
      <% end %>
    -->
		<%= yield %>

	<%= render 'layouts/footer' %>

</body>
</html>
