<section class="profile-edit">
  <div class="container">
    <% provide(:title, 'Profil')%>
    <h2 class="text-center">Korisnički podaci</h2>
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %> text-center">
             <p class="text-center"><%= value %></p>
        </div>
    <% end %>

    <div class="col-md-6 col-md-offset-3">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, :class => 'form-control'  %>
      </div>

      <div class="form-group">
        <%= f.label :username %><br />
        <%= f.text_field :username, autofocus: true, :class => 'form-control'  %>
      </div>

      <div class="form-group">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name, autofocus: true, :class => 'form-control'  %>
      </div>

      <div class="form-group">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name, autofocus: true, :class => 'form-control'  %>
      </div>

      <div class="form-group">
        <%= f.label :birth_date %><br />
        <%= f.date_field :birth_date, autofocus: true, :class => 'form-control'  %>
      </div>

      <div class="form-group">
        <%= f.label :graduation_year %><br />
        <%= f.text_field :graduation_year, autofocus: true, :class => 'form-control'  %>
      </div>

      <div class="form-group">
        <%= f.label :work_place %><br />
        <%= f.text_field :work_place, autofocus: true, :class => 'form-control'  %>
      </div>

      <div class="form-group">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "off", :class => 'form-control'  %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control'  %>
      </div>

    <!--
      <div class="form-group">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "off", :class => 'form-control'  %>
      </div>
    -->
      <div class="actions">
        <%= f.submit "Spremi promjene", :class => 'btn-edit-profile' %>
      </div>
    <% end %>

    <h5>Otkaži račun</h5>

    <p>Unhappy? <%= link_to "Obriši korisnički račun", registration_path(resource_name), data: { confirm: "Jeste li sigurni?" }, method: :delete, :class => 'btn-cancel' %></p>

    <%= link_to "Natrag", :back %>

    </div>
  </div>
</section>