<% provide(:title, 'Registracija')%>

<body id="register-body">

<div class="container-fluid">
  <div class="row nav-2">
    <a href="/" id="brand-logo"> <%=image_tag 'logo_brand2.svg', :id => 'register_brand', :style => 'height : 9rem'%>AMA ETFOS</a>
    <a href="/"><%=image_tag 'x2.svg', :class => 'hvr-grow', :id => 'btn-x' %></a>
  </div>
</div>

<section class="login-area">

  <div class="container">
    <div class="row">
      <h3 class="text-center">REGISTRACIJA</h3>
      <div class="col-xs-10 col-sm-8 col-md-6 col-lg-4 col-xs-offset-1 col-sm-offset-2 col-md-offset-3 col-lg-offset-4">
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %> text-center">
             <p><%= value %></p>
            </div>
          <% end %>
           <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:id => 'login'}) do |f| %>
          <p> <%= devise_error_messages! %> </p>
              <div class="form-group">
                <%=image_tag 'email2.svg', :class => 'form-icon' %>
                  <%= f.label :email %>
                  <%= f.email_field :email, autofocus: true, :class => 'form-control' %>
              </div>
              <div class="form-group">
                  <%=image_tag 'lock2.svg', :class => 'form-icon' %>
                  <%= f.label :password %>
                  <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
              </div>
              <div class="form-group">
                  <%=image_tag 'lock2.svg', :class => 'form-icon' %>
                  <%= f.label :password_confirmation %>
                  <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control' %>
              </div>
                <div class="checkbox">
                      <label for="check-box">
                      <%= f.check_box :remember_me %>
                      Zapamti me.</label>
                </div>
              <%= f.submit "REGISTRACIJA", :class => 'btn btn-prijava hvr-grow' %>
          <% end %>

          <div class="row text-center">
            <div class="btn-group">
              <button class="btn btn-soc-left" id="btn-1-1"><%= image_tag 'facebook_3.svg', :class => 'img-btn' %></button>
                <%= link_to "Facebook prijava", user_omniauth_authorize_path(:facebook), :class => 'btn btn-soc-right', :id => 'btn-1-2' %>
            </div>
          </div>
          
    </div>

  </div>
</div>

</section>

<!--
<h1>Registracija</h1>
<div class= "row">
<div class="col-md-6 col-md-offset-3">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control' %>
    </div>
  
    <%= f.submit "Sign up", :class => 'btn btn-primary' %>
  
<% end %>

<%= link_to "Prijava", login_path, :class => 'btn' %>

<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>

</div>
</div>-->
